

main{
    width: 100%;
    height: 100vh;
    background-color: var(--preto);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main #setaBaixo{
    position: absolute;
    width: 64px;
    bottom: 0;
}
footer{
    background-color: var(--laranja);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
footer a{
    color: var(--branco);   
}



.zoom-in {
    transform-origin: 64% 61%; /* ajuste para a parte específica da imagem */
    transform: scale(70);
    transition: transform 0.6s ease-in-out;
}



.seta {
    animation: animarSeta 1.5s infinite; /* Animação contínua */
}

/* Animação da seta apontando para baixo */
@keyframes animarSeta {
    0% {
        transform: translateY(0); /* Posição inicial */
    }
    25% {
        transform: translateY(10px); /* Primeiro movimento para baixo */
    }
    50% {
        transform: translateY(20px); /* Segundo movimento para baixo */
    }
    75% {
        transform: translateY(0); /* Retorna à posição inicial */
    }
    100% {
        transform: translateY(0); /* Mantém a posição inicial (pausa de 2s) */
    }
}